<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.okcredit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UpdatePasswordActivity"
            android:label="@string/title_activity_update_password"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".OkCreditSecurity"
            android:label="@string/title_activity_ok_credit_security"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountStatment"
            android:label="@string/title_activity_account_statment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecordPaymentReceivedFromCustomer"
            android:label="@string/title_activity_record_payment_received_from_customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecordCreditGivenToCustomer"
            android:label="@string/title_activity_record_credit_given_to_customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddNewCustomer"
            android:label="@string/title_activity_add_new_customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityPrivacyAndSecurity"
            android:label="@string/title_activity_privacy_and_security"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearnHowToUseOkCredit"
            android:label="@string/title_activity_learn_how_to_use_ok_credit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignOutPage" />
        <activity
            android:name=".ActivityHelpPage"
            android:label="@string/title_activity_help_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PrivacyPage" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Friendlistpagecontact"
            android:label="@string/title_activity_friendlistpagecontact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecieveAmountPage"
            android:label="@string/title_activity_recieve_amount_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GiveAmount"
            android:label="@string/title_activity_give_amount"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Payment_Account_Data"
            android:label="@string/title_activity_payment__account__data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ContactListPage" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>